<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>{% block head %}

    {% block meta %}
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for("react.static", filename="react/favicon.ico") }}" />
    <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1{% endblock %}" />
    <meta name="description" content="{% block description %}Web site created using create-react-app{% endblock %}"/>
    <link rel="apple-touch-icon" href="{{ url_for("react.static", filename="react/logo192.png") }}" />
    <link rel="manifest" href="{{ url_for("react.static", filename="react/manifest.json") }}" />
    {% endblock meta %}

    <title>{% block title %}{{config.get("REACT_TITLE", "Flask-React App")}}{% endblock %}</title>

    {% block styles %}
        {% if "bootstrap" in config.get("REACT_EXTENSIONS") %}
            <link rel="stylesheet" href="{{ url_for('react.static', filename='react/vendor/bootstrap.min.css') }}">
        {% endif %}
        {% if "material" in config.get("REACT_EXTENSIONS") %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
            <style>body{font-family: "Roboto", Arial, Helvetica, sans-serif;}</style>
        {% endif %}
    {% endblock %}

    {% if config.get("FLASK_ENV", "development") == "production" %}
        <script src="{{ url_for('react.static', filename='react/vendor/react.production.min.js') }}" crossorigin></script>
        <script src="{{ url_for('react.static', filename='react/vendor/react-dom.production.min.js') }}" crossorigin></script>
    {% else %}
        <script src="{{ url_for('react.static', filename='react/vendor/react.development.js') }}" crossorigin></script>
        <script src="{{ url_for('react.static', filename='react/vendor/react-dom.development.js') }}"></script>
    {% endif %}

{% endblock %}</head>
<body>{% block body %}
    <noscript>{% block noscript %}You need to enable JavaScript to run this app.{% endblock %}</noscript>
{% block content %}<div id="root"></div>{% endblock %}
{% block scripts %}
    {% if "bootstrap" in config.get("REACT_EXTENSIONS") %}
        <script src="{{ url_for('react.static', filename='react/vendor/react-bootstrap.min.js') }}"></script>
    {% endif %}
    {% if "material" in config.get("REACT_EXTENSIONS") %}
        {% if config.get("FLASK_ENV", "development") == "production" %}
            <script src="{{ url_for('react.static', filename='react/vendor/material-ui.development.js') }}" crossorigin></script>
        {% else %}
            <script src="{{ url_for('react.static', filename='react/vendor/material-ui.production.min.js') }}" crossorigin></script>
        {% endif %}
    {% endif %}
    {% if "socket.io" in config.get("REACT_EXTENSIONS") or "components" in config.get("REACT_EXTENSIONS")%}
        <script src="{{ url_for('react.static', filename='react/vendor/socket.io.slim.min.js') }}"></script>
    {% endif %}
    {% if "components" in config.get("REACT_EXTENSIONS") %}
        <script src="{{ url_for('react.static', filename='react/js/components.js') }}"></script>
    {% endif %}
    {% block react %}{% endblock %}
    <script src="{{ url_for("react.static", filename="react/js/index.js") }}" type="module"></script>
{% endblock %}
{% endblock %}</body>
</html>